Django==1.5.4
Pillow==2.3.0
South==0.8.2
Unidecode==0.04.14
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.34
celery==3.0.24
django-celery==3.0.23
jsonfield==0.9.20
kombu==2.5.16
oauthlib==0.6.0
psycopg2==2.5.1
python-dateutil==2.1
python-openid==2.2.5
python-slugify==0.0.7
python-social-auth==0.1.14
pytz==2013.7
qrcode==4.0.4
requests==2.0.1
requests-oauthlib==0.4.0
simplejson==3.3.2
six==1.4.1
wsgiref==0.1.2
