{% extends 'layouts/requirejs.html' %}

{% load i18n %}

{% block javascript_templates %}
{% include 'event/_create/layout_template.html' %}

{% include 'event/_create/edit/layout.html' %}
{% include 'event/_create/edit/location_layout_template.html' %}
{% include 'event/_create/edit/datetime_template.html' %}
{% include 'event/_create/edit/description_template.html' %}
{% include 'event/_create/edit/ticket_type_template.html' %}
{% include 'event/_create/edit/organizer_template.html' %}

{% include 'event/_create/design/design_tab_template.html' %}

{% include 'event/_view/layout_template.html' %}

{% endblock %}

{% block content %}
<div id="event-create">

</div>
{% endblock %}