{% extends 'layouts/requirejs.html' %}

{% load i18n %}

{% block javascript_templates %}
{% include 'event/_create/layout_template.html' %}
{% include 'event/_create/location_layout_template.html' %}
{% include 'event/_create/address_template.html' %}
{% include 'event/_create/datetime_template.html' %}
{% include 'event/_create/description_template.html' %}
{% include 'event/_create/ticket_type_template.html' %}
{% include 'event/_create/organizer_template.html' %}
{% include 'event/_create/datetime_input_template.html' %}
{% include 'event/_create/information_tab_template.html' %}
{% endblock %}

{% block content %}
<div id="event-create">

</div>
{% endblock %}