{% extends 'layouts/requirejs.html' %}

{% load i18n %}

{% block javascript_templates %}
{% include 'event/_create/layout_template.html' %}
{% include 'event/_create/event_location_layout_template.html' %}
{% include 'event/_create/event_address_template.html' %}
{% include 'event/_create/event_datetime_template.html' %}
{% include 'event/_create/event_description_template.html' %}
{% include 'event/_create/event_ticket_template.html' %}
{% include 'event/_create/datetime_input_template.html' %}
{% include 'event/_create/event_information_tab_template.html' %}
{% endblock %}

{% block content %}
<div id="event-create">

</div>
{% endblock %}