{% load i18n %}

<script type="text/template" id="tv-layout-template">
<div class="row">
  <div class="col-sm-8 js-ticket-list">

  </div>
  <div class="col-sm-4">
    <div class="widget-box">
      <div class="widget-header header-color-blue">
        <h5 class="bigger lighter">
          {% trans 'Upcoming events' %}
        </h5>
      </div>

      <div class="widget-body">
        <div id="upcoming-event" class="widget-main">

        </div>
      </div>
    </div>

  </div>
</div>
</script>