{
  "db": {
    "username": "",
    "password": "",
    "host": "",
    "port": "",
    "name": ""
  },
  "auth": {
    "facebook": {
      "key": "",
      "secret": ""
    },
    "live": {
      "key": "",
      "secret": ""
    },
    "google": {
      "key": "",
      "secret": ""
    }
  },
  "google_map_key": ""
}