{
  "db": {
    "username": "",
    "password": "",
    "host": "127.0.0.1",
    "port": "5432",
    "name": ""
  },
  "auth": {
    "facebook": {
      "key": "",
      "secret": ""
    },
    "live": {
      "key": "",
      "secret": ""
    },
    "google": {
      "key": "",
      "secret": ""
    }
  }
}