@import 'bootstrap/datetimepicker.less';
@import 'vendors/select2.less';
@import 'bootstrap/select2.less';
@import 'common/basic.less';
@import 'common/mixins.less';
@import 'vendors/summernote.less';

#event-create {
  .location {
    .google-map-autocomplete {
      width: 60%;
      margin-top: 10px;
    }

    .event-address {
      [class*="col-sm-"] {
        margin-bottom: 10px;
      }
    }
  }

  .description {
    .note-editor {
      button {
        min-height: 30px;
      }
    }
  }
}