@import 'core.less';
@import 'vendors/select2.less';
@import 'bootstrap/select2.less';
@import 'vendors/summernote.less';
@import 'vendors/colorpicker.less';
@import 'event_view.less';

#event-create {
  .location {
    #event-location {
      width: 60%;
      margin-top: 10px;
    }

    .event-address {
      [class*="col-sm-"] {
        margin-bottom: 10px;
      }
    }
  }

  .note-editor {
    button {
      min-height: 30px;
    }
  }

  .tooltip {
    .tooltip-inner {
      min-width: 150px;
      max-width: 400px;
      ul {
        padding: 0px;
        li {
          list-style: none;
          text-align: left;
          a {
            color: white;
          }
        }
      }
    }
  }
}

#event-view {
  margin-top: 20px;

  .page-header { 
    margin-top: 0px;
  }

  .widget-box {
    .widget-toolbar {
      .fa {
        line-height: 37px;
        color: #ffffff;
      }
    }
  }
}