{% extends 'layouts/static.html' %}

{% load static %}

{% block content %}
<div>
	<img src="{% static 'img/Front_page_large.jpg' %}" class="img-responsive img-rounded" alt="Reponsive image">	
</div>

<div class="row" style="height: 200px;">
	<div class="col-lg-3">
		<h3>
			Customize your event page
		</h3>
        
    <div class="marketing-icon">
      <i class="fa fa-cogs"></i>
    </div>
	</div>

	<div class="col-lg-3"> 
    
		<h3>
			Scan tickets with the mobile app
		</h3>
        
    <div class="marketing-icon">
      <i class="fa fa-mobile"></i>
    </div>
	</div>
    
    <div class="col-lg-3">
    <h3>
			Sell more tickets to your customers
		</h3>
    <div class="marketing-icon">
      <i class="fa fa-users"></i>
    </div>
    </div>
    
    
    <div class="col-lg-3">
    <h3>
			Get real-time statistics
		</h3>
    <div class="marketing-icon">
      <i class="fa fa-bar-chart-o"></i>
    </div>
    </div> 
	
</div>
{% endblock %}
