<!DOCTYPE html>
<html>

    <head>
    </head>

    <body>



        <div class="navbar" id="header">

            <div style="float: left; width: 50%;"> <h1 dir="auto">TicketZ</h1></div>
            <div style="float: left; width: 50%;"><button style="width: 20">test </button></div>
        </div>

        <div id="nav">

    <a href="/how/">HOW IT WORKS</a> |
    <a href="/pricing/">PRICING</a> |
    <a href="/sell/">SELL TICKETS</a> |


        </div>

        <div id=content>

            <img border="0" src="/tkz/core/templates/images/Front_page_large.jpg" alt="Front page" width="800" height="600">

        </div>



        <div id="footer">

            <p>...</p>

        </div>

    </body>

</html>
