<!DOCTYPE html>
<html>

    <head>
    </head>

    <body>



        <div id="header">

            <h1 dir="auto">TicketZ</h1>

        </div>

        <div id="nav">

    <a href="/how/">HOW IT WORKS</a> |
    <a href="/pricing/">PRICING</a> |
    <a href="/sell/">SELL TICKETS</a> |


        </div>

        <div id=content>

            <img border="0" src="/tkz/core/templates/images/Front_page_large.jpg" alt="Front page" width="800" height="600">

        </div>



        <div id="footer">

            <p>...</p>

        </div>

    </body>

</html>
