{% load i18n %}

<script type="text/template" id="eu-layout-template">
<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#edit">{% trans 'Edit' %}</a>
  </li>
  <li>
    <a data-toggle="tab" href="#design">{% trans 'Design' %}</a>
  </li>
  <li class="pull-right">
    <a class="btn btn-primary" target="_blank" href="<%= model.get('url.view') %>">{% trans 'Preview' %}</a>
  </li>
  <li class="pull-right">
    <a class="btn btn-primary js-save" target="_blank" href="#">{% trans 'Save' %}</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="edit"></div>
  <div class="tab-pane" id="design"></div>
</div>
</script>