{% load i18n %}

<script type="text/template" id="eu-design-tab-template">
  <div class="js-customization common-customization">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget-box">

          <div class="widget-header header-color-blue">
            <h5 class="bigger lighter">
              {% trans 'Common Style' %}
            </h5>
          </div>

          <div class="widget-body clearfix">
            <div class="col-sm-12">
              <table>
                <tbody>
                  <tr>
                    <td><label>{% trans 'Body background color' %}</label></td>
                    <td class="js-common-style" data-attribute="json.commonBodyBgColor"></td>
                  </tr>
                  <tr>
                    <td><label>{% trans 'Body color' %}</label></td>
                    <td class="js-common-style" data-attribute="json.commonBodyColor"></td>
                  </tr>
                  <tr>
                    <td><label>{% trans 'Title background color' %}</label></td>
                    <td class="js-common-style" data-attribute="json.commonTitleBgColor"></td>
                  </tr>
                  <tr>
                    <td><label>{% trans 'Title color' %}</label></td>
                    <td class="js-common-style" data-attribute="json.commonTitleColor"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="widget-box">

          <div class="widget-header header-color-blue">
            <h5 class="bigger lighter">
              {% trans 'General Settings' %}
            </h5>
          </div>

          <div class="widget-body">
            Coming Soon....
          </div>

        </div>
      </div>

      <div class="col-sm-4 banner">
        <div class="widget-box">

          <div class="widget-header header-color-blue">
            <h5 class="bigger lighter">
              {% trans 'Banner' %}
            </h5>
          </div>

          <div class="widget-body clearfix">
            <div class="col-sm-4 js-fileupload">

            </div>

            <div class="col-sm-4">
              <button class="btn btn-danger">
                {% trans 'Remove' %}
              </button>
              <% if (model.get('json.banner')) { %>

              <% } %>
            </div>
            
          </div>

        </div>
      </div>


    </div>
  </div>
  <div class="js-preview">

  </div>
</script>

<script type="text/template" id="eu-edit-detail-template">
<table class="table-fixed table-hover">
  <tbody>
    <tr>
      <td><label>{% trans 'Body background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.detailBodyBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.detailTitleBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.detailTitleColor"></td>
    </tr>
  </tbody>
</table>
</script>

<script type="text/template" id="eu-edit-location-template">
<table class="table-fixed table-hover">
  <tbody>
    <tr>
      <td><label>{% trans 'Body background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.locationBodyBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Body color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.locationBodyColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.locationTitleBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.locationTitleColor"></td>
    </tr>
  </tbody>
</table>
</script>

<script type="text/template" id="eu-edit-ticket-template">
<table class="table-fixed table-hover">
  <tbody>
    <tr>
      <td><label>{% trans 'Body background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.ticketBodyBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Body color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.ticketBodyColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.ticketTitleBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.ticketTitleColor"></td>
    </tr>
  </tbody>
</table>
</script>

<script type="text/template" id="eu-edit-organizer-template">
<table class="table-fixed table-hover">
  <tbody>
    <tr>
      <td><label>{% trans 'Body background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.organizerBodyBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Body color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.organizerBodyColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title background color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.organizerTitleBgColor"></td>
    </tr>
    <tr>
      <td><label>{% trans 'Title color' %}</label></td>
      <td class="js-control" data-type="colorpicker" data-attribute="json.organizerTitleColor"></td>
    </tr>
  </tbody>
</table>
</script>