{% load static %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en_US" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var btn = $.fn.button.noConflict();
    var tooltip = $.fn.tooltip.noConflict();
    $.fn.bsbutton = btn;
    $.fn.bstooltip = tooltip;
  </script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  {% if less %}
  {% with "less/"|add:less|add:".less" as template %}
  <link rel="stylesheet/less" type="text/css" href="{% static template %}" />
  {% endwith %}
  {% endif %}

  {% block less %} {% endblock %}

  <script type="text/javascript" src="{% static 'js/vendors/less.js' %}"></script>
  <script type="text/javascript">
    window.ticketz = {};
  </script>
  {% block javascript %}{% endblock %}
  {% block javascript_templates %}{% endblock %}

  <title>Ticketz</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" img src="C:\Users\TUNDE\Documents\GitHub\ticketz\static\Ticketz_website_icons\audience.jpg"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TICKETZ</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">{% trans 'Home'%}</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'event_create' %}">{% trans 'Create Event'%}</a></li>
          <li><a href="{% url 'event_list' %}">{% trans 'My Events'%}</a></li>
          <li><a href="{% url 'ticket_list' %}">{% trans 'My Tickets'%}</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'My account'%} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile' %}">{% trans 'Update information' %}</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans 'Logout' %}</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'django.contrib.auth.views.login' %}">{% trans 'Login' %}</a></li>
          <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
          {% endif %}
        </ul>
          <form method="GET" action="{% url 'event_search' %}" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" name="q" class="form-control" placeholder="{% trans 'Event name' %}" value="{{ search_query|default:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
          </form>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>

  <div class="container">
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>

</html>
